<main class="container-signUp">
	<form class="form-signup" method="POST" action="/auth/signup">
		<div class="text-center mb-4">
			<img
				class="iconForm mb-4"
				src="http://cdn.onlinewebfonts.com/svg/img_215059.png"
				alt=""
				width="72"
				height="72"
			/>
			<h1 class="h3 mb-3 fw-normal">Please sign up</h1>
		</div>

		<div class="form-floating">
			<input
				name="username"
				type="name"
				id="inputName"
				class="form-control"
				placeholder="User Name"
				value="{{username}}"
				required=""
				autofocus=""
			/>
			{{! <label class="labelForm" for="inputName">User Name</label> }}
		</div>

		<div class="form-floating">
			<input
				name="email"
				type="email"
				id="inputEmail"
				class="form-control"
				placeholder="name@example.com"
				value="{{email}}"
				required=""
				autofocus=""
			/>
			{{! <label for="inputEmail">Email address</label> }}
		</div>

		<div class="form-floating">
			<input
				name="password"
				type="password"
				id="inputPassword"
				class="form-control"
				placeholder="Password (min. 8 characters)"
				required=""
			/>
			{{! <label for="inputPassword">Password
				<span class="text-muted">Min. 8 characters</span></label> }}
		</div>

		<div class="form-floating">
			<input
				name="location"
				type="location"
				id="inputLocation"
				class="form-control"
				placeholder="Insert your country"
				value="{{location}}"
				required=""
				autofocus=""
			/>
			{{! <label for="inputLocation">Location</label> }}
		</div>

		<button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
		<p class="mt-2 mb-3 text-muted text-center">© 2021</p>
	</form>

</main>

{{! Lo de abajo es el formulario Sign Up original }}

{{!-- <h1>Signup page</h1>

<form method="POST" action="/auth/signup">
	<br />
	<label>Name
		<input
			type="text"
			name="username"
			placeholder="Write your Name"
			value="{{username}}"
		/></label>

	<br />
	<br />
	<label>Email
		<input
			type="text"
			name="email"
			placeholder="Write your Email"
			value="{{email}}"
		/>
	</label>
	<br />
	<br />
	<label>Password (min 8 characters)
		<input
			type="password"
			name="password"
			placeholder="Write your Password"
		/>
	</label>
	<br />
	<br />
	<label>Location:
		<input
			type="text"
			name="location"
			placeholder="Your location"
			value="{{location}}"
		/>
	</label>

	<br />
	<br />

	<button type="submit">Sign up</button>
</form> --}}

{{#if errorMessage}}
	<p style="color:red">{{errorMessage}}</p>
{{/if}}