{{! <div class="card mb-3" style="max-width: 540px;">
	<div class="row g-0">
		<div class="col-md-4">
			<img src="..." class="img-fluid rounded-start" alt="..." />
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This is a wider card with supporting text below
					as a natural lead-in to additional content. This content is a
					little bit longer.</p>
				<p class="card-text"><small class="text-muted">Last updated 3 mins
						ago</small></p>
			</div>
		</div>
	</div>
</div> }}

<div>
	<a href="/profile/update-profile">Update Profile</a>
	<br />
	<a href="/profile/update-password">Update Password </a>
	<br />
	<a href="/profile/delete-account">Delete Account</a>
</div>

<div>
	<a href="/posts/create">Create a post</a>
</div>
<br />
<h3>All Post list</h3>

<div class="row">
	{{#each allPosts}}
		<div class="col-md-4 mb-5">
			<div class="card" style="width: 18rem;">
				<img src="{{imageUrl}}" class="card-img-top" alt="{{title}}" />
				<div class="card-body">
					<h5 class="card-title">{{title}}</h5>
					<p class="card-text">{{text}}</p>
					<a
						href="/posts/{{this._id}}"
						class="btn btn-primary"
					>{{this.text}}</a>
				</div>
			</div>
		</div>
	{{else}}
		<p>There are no Posts yet!</p>
	{{/each}}
<<<<<<< HEAD
=======
	<hr />
</div>

{{!-- {{#each allPosts}}
	<hr />
	<a href="/posts/{{this._id}}">{{this.text}}</a>
	<br />

{{/each}} --}}
>>>>>>> dev
