<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="mask flex-center">
        <div class="container">
          <h2>POST</h2>
          <br />
          <div class="row align-items-center">
            <div class="col-md-7 col-12 order-md-1 order-2">
              {{#if post.title}}
              <h4>{{post.title}}</h4>
              <br />
              {{/if}}
              <p>by
                {{#if post.author}}
                {{post.author.username}}
                {{else}}
                Oh no! This User doesn't exist anymore.
                {{/if}}
              </p>

              <hr />
              <br />
              <p>{{post.text}}</p>
              <br /><br />
              <hr />
              {{#if isAuthor}}
              <div class="btn-edit-del">
                <a href="/posts/{{post._id}}/edit">Edit Post</a>
                <a href="/posts/{{post._id}}/delete">Delete Post</a>
              </div>
              {{/if}}
              <br />
              <a href="/">Go Back</a>
            </div>
            <div class="col-md-5 order-md-1 order-1"><img src="{{post.imageUrl}}" class="mx-auto" alt="slide" />
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-7 col-12 order-md-1 order-2">
              <h2>Comments</h2>
              <br />
              <div class="media">
                <div class="media-body">
                  <div class="d-flex rounded-circle avatar z-depth-1-half mr-3">
                    <img src="https://i.imgur.com/zQZSWrt.jpg" width="60" class="rounded-circle mr-2" />
                    <input type="text" class="form-control" placeholder="Enter your comment..." />
                  </div>
                  <br /><br />
                  <img class="d-flex rounded-circle avatar z-depth-1-half mr-3"
                    src="https://mdbootstrap.com/img/Photos/Avatars/avatar-10.jpg" alt="Avatar" />
                  <h5 class="mt-0 font-weight-bold blue-text">Anna Smith</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                  scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                  vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                  nisi vulputate fringilla. Donec lacinia congue felis in
                  faucibus.
                  <div class="media mt-3 shadow-textarea">
                    <img class="d-flex rounded-circle avatar z-depth-1-half mr-3"
                      src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="Generic placeholder image" />
                    <div class="media-body">
                      <h5 class="mt-0 font-weight-bold blue-text">Danny Tatuum</h5>
                      <div class="form-group basic-textarea rounded-corners">
                        <textarea class="form-control z-depth-1" id="exampleFormControlTextarea345" rows="3"
                          placeholder="Write your comment..."></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="media">
              <img class="d-flex rounded-circle avatar z-depth-1-half mr-3"
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-10.jpg" alt="Avatar" />
              <div class="media-body">
                <h5 class="mt-0 font-weight-bold blue-text">Caroline Horwitz</h5>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Corporis odit minima eaque dignissimos recusandae officiis
                commodi nulla est, tempore atque voluptas non quod maxime,
                iusto, debitis aliquid? Iure ipsum, itaque.
              </div>
            </div>
            <div class="media mt-3 shadow-textarea">
              <img class="d-flex rounded-circle avatar z-depth-1-half mr-3"
                src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="Generic placeholder image" />
              <div class="media-body">
                <h5 class="mt-0 font-weight-bold blue-text">Danny Tatuum</h5>
                <div class="form-group basic-textarea rounded-corners">
                  <textarea class="form-control z-depth-1" id="exampleFormControlTextarea345" rows="3"
                    placeholder="Write your comment..."></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<form method="POST" action="/comments/{{post._id}}/new">
  <br /><br />
  <h2>Add new comment</h2>
  <label>
    <input type="text" placeholder="Write your comment" name="text" />
  </label>
  <button type="submit">Submit</button>
</form>

{{#if post.comments}}
<section class="comments">
  <p>Comments:</p>
  {{#each post.comments}}
  <div style="font-size: .8rem; margin: 0">by:
    {{this.author.username}}</div>
  <p style="margin: 1rem">{{this.text}}</p>
  {{#if this.isAuthor}}
  <a 
    href="/comments/{{../post._id}}/{{this._id}}/delete"
    style="color: red"
    >Delete comment</a>
  {{/if}}
  {{/each}}
</section>
{{/if}}