
<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="mask flex-center">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-7 col-12 order-md-1 order-2">
                            {{#if post.title}}
                                <h4>{{post.title}}</h4>
                            {{/if}}
                            <p>by {{#if post.author}}
                            {{post.author.username}}
                            {{else}}
                            Oh no! This User doesn't exist anymore.</p> 
                            {{/if}}
                            <hr>
                            <p>{{post.text}}</p>
                            <br>
                            {{#if isAuthor}}
                            <div>
                            <a href="/posts/{{post._id}}/edit">Edit Post</a>
                            <a href="/posts/{{post._id}}/delete">Delete Post</a>
                            </div>
                            {{/if}}
                            <hr>
                            <br> <a href="/profile">Go Back</a>
                             
                        </div>
                      <div class="col-md-5 order-md-1 order-1"><img src="{{post.imageUrl}}" class="mx-auto" alt="slide" />
                    </div>
                </div>
            </div>
            <div class="container mt-5 mb-5">
              <div class="row height d-flex justify-content-center align-items-center">
                <div class="col-md-7">
                  <div class="card">
                    <div class="p-4">
                      
                    <h6>Comments</h6>
                    </div>
                    <div class="mt-3 d-flex flex-row align-items-center p-3 form-color"> <img src="https://i.imgur.com/zQZSWrt.jpg" width="50" class="rounded-circle mr-2"> <input type="text" class="form-control" placeholder="Enter your comment..."> </div>
                      <div class="mt-2">
                      <div class="d-flex flex-row p-3"> <img src="https://i.imgur.com/zQZSWrt.jpg" width="40" height="40" class="rounded-circle mr-3">
                        <div class="w-100">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-row align-items-center"> <span class="mr-2">Brian selter</span> <small class="c-badge">Top Comment</small> </div> <small>12h ago</small>
                            </div>
                            <p class="text-justify comment-text mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                          <div class="d-flex flex-row user-feed"> <span class="wish"><i class="fa fa-heartbeat mr-2"></i>24</span> <span class="ml-3"><i class="fa fa-comments-o mr-2"></i>Reply</span> </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
           </div>
        </div>
    </div> 
</div>



<form method="POST" action="/comments/{{post._id}}/new">
    <br><br>
    <h2>Add new comment</h2>
    <label>
        <input type="text" placeholder="Write your comment" name="text" />
    </label>
    <button type="submit">Submit</button>
</form>

{{#if post.comments}}
  <section class="comments">
  <p>Comments:</p>
  {{#each post.comments}}
  <div style="font-size: .8rem; margin: 0">by: {{this.author.username}}</div>
  <p style="margin: 1rem">{{this.text}}</p>
    {{#if this.isAuthor}}
      <a href="/comments/{{../post._id}}/{{this._id}}/delete"
      style="color: red">Delete comment</a>
    {{/if}}
  {{/each}}
  </section>
{{/if}}