<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="mask flex-center">
                <div class="container">
                  <h2>POST</h2>
                  <br>
                    <div class="row align-items-center">
                        <div class="col-md-7 col-12 order-md-1 order-2">
                            {{#if post.title}}
                                <h4>{{post.title}}</h4>
                              <br>  
                            {{/if}}
                            <p>by {{#if post.author}}
                            {{post.author.username}}
                            {{else}}
                            Oh no! This User doesn't exist anymore.</p>
                            {{/if}}
                            <hr>
                            <br>
                            <p>{{post.text}}</p>
                            <br><br>
                            <hr>
                            {{#if isAuthor}}
                            <div class="btn-edit-del">
                              <a href="/posts/{{post._id}}/edit">Edit Post</a>
                              <a href="/posts/{{post._id}}/delete">Delete Post</a>
                            </div>
                            {{/if}}
                            <br> <a href="/profile">Go Back</a>  
                        </div>
                      <div class="col-md-5 order-md-1 order-1"><img src="{{post.imageUrl}}" class="mx-auto" alt="slide" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<form method="POST" action="/comments/{{post._id}}/new">
    <br><br>
    <h2>Add new comment</h2>
    <label>
        <input type="text" placeholder="Write your comment" name="text" />
    </label>
    <button type="submit">Submit</button>
</form>

{{#if post.comments}}
  <section class="comments">
  <p>Comments:</p>
  {{#each post.comments}}
  <div style="font-size: .8rem; margin: 0">by: {{this.author.username}}</div>
  <p style="margin: 1rem">{{this.text}}</p>
    {{#if this.isAuthor}}
      <a href="/comments/{{../post._id}}/{{this._id}}/delete"
      style="color: red">Delete comment</a>
    {{/if}}
  {{/each}}
  </section>
{{/if}}